PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-05-29 08:01:23.660212');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-05-29 08:01:23.684020');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-05-29 08:01:23.712142');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "custom_admin_sessionbooking" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "consultation_field" varchar(255) NOT NULL, "created_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "custom_admin_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "role" varchar(20) NOT NULL, "encrypted_password" text NULL, "is_active" bool NOT NULL, "is_staff" bool NOT NULL);
INSERT INTO custom_admin_user VALUES(1,'pbkdf2_sha256$720000$OOuPOtAxlZ0TFMQ0IohmbM$7Qi+JA+GWv1EiVGvRQP5ViUKIjrDEXyCiUgNkhnryrk=','2025-06-04 11:17:10.133515',1,'admin_test@gmail.com','admin',NULL,1,1);
INSERT INTO custom_admin_user VALUES(4,'!TWM9bGSTlRt1H0qJCXHSgkIHgkTCraIcU25mGbyk','2025-06-04 11:48:09.429909',0,'ayushchaturvedi405@gmail.com','consultant','gAAAAABoPX25knWZYXI_08di_V1VIGEkUCeWlspZvkk1aQJbdyWclTrjhGMqOpb4XfFhIjY6USsyYcPlwbuuYazWd16gAtuZWg==',1,0);
CREATE TABLE IF NOT EXISTS "custom_admin_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "custom_admin_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "custom_admin_invoice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "month" date NOT NULL, "file" varchar(100) NOT NULL, "status" varchar(20) NOT NULL, "uploaded_at" datetime NOT NULL, "consultant_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED, "consultation_invoice_id" bigint NULL REFERENCES "consultation_invoice" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('uq0ntuirf6evwdzr30xv72yzaa47e51m','e30:1uMiSe:3rAO40NQV927mlXEyiNhWRs0KyGCb2VV4EcYhVjpvnU','2025-06-18 07:22:56.445999');
INSERT INTO django_session VALUES('bdna5py0uh3vw3f1rhblkgreuy0c5kz6','e30:1uMiUR:tk__RZCxrlS3yur0wCW2opr2nPhsskq8f0SEkHJpXdg','2025-06-18 07:24:47.888809');
INSERT INTO django_session VALUES('ih135q0109563yq5fqg32jz50j2r9fa1','.eJxVjEEOgjAQRe_StWmKhTLj0r1nINOZwaKmTSisjHcXEha6_e-9_zYDrUsa1qrzMIm5mMacfrdI_NS8A3lQvhfLJS_zFO2u2INWeyuir-vh_h0kqmmrnQTnOyBwo-u4jdgLUtsFZdAACCoRtEH2555QiUDGzXLsMVIzejSfL-TrOHc:1uMiWe:DkmCZrumzrlCJTAz9dG5jQXE_2WcU-tFyiKWdWCWqJA','2025-06-18 07:27:04.972706');
CREATE TABLE IF NOT EXISTS "custom_admin_skill_master" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "is_active" bool NOT NULL);
INSERT INTO custom_admin_skill_master VALUES(1,'java',1);
INSERT INTO custom_admin_skill_master VALUES(2,'python',1);
INSERT INTO custom_admin_skill_master VALUES(3,'database',1);
CREATE TABLE IF NOT EXISTS "consultation_invoice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "month" date NOT NULL, "file" varchar(100) NOT NULL, "status" varchar(20) NOT NULL, "uploaded_at" datetime NOT NULL, "consultant_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "consultation_timesheet" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "month" date NOT NULL, "file" varchar(100) NOT NULL, "status" varchar(20) NOT NULL, "uploaded_at" datetime NOT NULL, "consultant_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "custom_admin_consultantstatus" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(20) NOT NULL, "user_id" bigint NOT NULL UNIQUE REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "consultation_consultantprofile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "mobile" varchar(15) NULL, "bank_account_name" varchar(255) NOT NULL, "bank_account_number" varchar(50) NOT NULL, "bank_ifsc" varchar(20) NOT NULL, "bank_branch_name" varchar(255) NOT NULL, "bank_name" varchar(255) NOT NULL, "cost_per_hour" decimal NOT NULL, "agreement_document" varchar(100) NULL, "details" text NULL, "user_id" bigint NOT NULL UNIQUE REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED, "status_id" bigint NULL REFERENCES "custom_admin_consultantstatus" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO consultation_consultantprofile VALUES(1,'Ayush Chaturvedi','7065367731','ayush','123123123123123','12jkfkwqe21','main branch','bank of consultant',50.54999999999999716,'agreements/welcome_YMhWlBo.pdf',NULL,4,NULL);
CREATE TABLE IF NOT EXISTS "consultation_consultantprofile_skills" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "consultantprofile_id" bigint NOT NULL REFERENCES "consultation_consultantprofile" ("id") DEFERRABLE INITIALLY DEFERRED, "skill_id" bigint NOT NULL REFERENCES "custom_admin_skill_master" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO consultation_consultantprofile_skills VALUES(1,1,1);
INSERT INTO consultation_consultantprofile_skills VALUES(2,1,2);
INSERT INTO consultation_consultantprofile_skills VALUES(3,1,3);
CREATE TABLE IF NOT EXISTS "custom_admin_timesheet" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "month" date NOT NULL, "file" varchar(100) NOT NULL, "uploaded_at" datetime NOT NULL, "consultant_id" bigint NOT NULL REFERENCES "custom_admin_user" ("id") DEFERRABLE INITIALLY DEFERRED, "consultation_timesheet_id" bigint NULL REFERENCES "consultation_timesheet" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(20) NOT NULL);
INSERT INTO sqlite_sequence VALUES('django_migrations',29);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',16);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "custom_admin_user_groups_user_id_group_id_a00fb87e_uniq" ON "custom_admin_user_groups" ("user_id", "group_id");
CREATE INDEX "custom_admin_user_groups_user_id_25ae2168" ON "custom_admin_user_groups" ("user_id");
CREATE INDEX "custom_admin_user_groups_group_id_0ce7c527" ON "custom_admin_user_groups" ("group_id");
CREATE UNIQUE INDEX "custom_admin_user_user_permissions_user_id_permission_id_eda99df7_uniq" ON "custom_admin_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "custom_admin_user_user_permissions_user_id_c3c211ce" ON "custom_admin_user_user_permissions" ("user_id");
CREATE INDEX "custom_admin_user_user_permissions_permission_id_5f426c31" ON "custom_admin_user_user_permissions" ("permission_id");
CREATE INDEX "custom_admin_invoice_consultant_id_6adc2c59" ON "custom_admin_invoice" ("consultant_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "consultation_invoice_consultant_id_cb922192" ON "consultation_invoice" ("consultant_id");
CREATE INDEX "consultation_timesheet_consultant_id_7ef49295" ON "consultation_timesheet" ("consultant_id");
CREATE INDEX "consultation_consultantprofile_status_id_1f487191" ON "consultation_consultantprofile" ("status_id");
CREATE UNIQUE INDEX "consultation_consultantprofile_skills_consultantprofile_id_skill_id_529d79c9_uniq" ON "consultation_consultantprofile_skills" ("consultantprofile_id", "skill_id");
CREATE INDEX "consultation_consultantprofile_skills_consultantprofile_id_58f81a89" ON "consultation_consultantprofile_skills" ("consultantprofile_id");
CREATE INDEX "consultation_consultantprofile_skills_skill_id_f2d78d77" ON "consultation_consultantprofile_skills" ("skill_id");
CREATE INDEX "custom_admin_invoice_consultation_invoice_id_61fbc555" ON "custom_admin_invoice" ("consultation_invoice_id");
CREATE INDEX "custom_admin_timesheet_consultant_id_fbb69c9e" ON "custom_admin_timesheet" ("consultant_id");
CREATE INDEX "custom_admin_timesheet_consultation_timesheet_id_1abffdc3" ON "custom_admin_timesheet" ("consultation_timesheet_id");
COMMIT;
